<div class="absolute top-16 z-50 h-[calc(100%-64px)] w-12 bg-secondary flex flex-row">
  <div class="z-50 bg-[#323232] w-12 h-full flex flex-col items-start justify-between">
    <div class="flex flex-col gap-0 p-0">
      <button
        *ngFor="let item of menuItems"
        mat-icon-button
        color="accent"
        [ngClass]="{
          'text-white bg-primary rounded-none': subMenu === item.key
        }"
        (click)="clickToogleMenu(item.key)"
        [attr.aria-label]="item.label"
        [title]="item.label"
        class="w-full justify-start">
        <mat-icon class="material-icons-round">{{ item.icon }}</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button class="bg-primary text-white rounded-none" color="primary" (click)="clickToogleMenu()">
        <mat-icon class="material-icons-round">{{
          toogleMenu ? "chevron_left" : "chevron_right"
          }}</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="z-40 h-[calc(100%-64px)] min-h-full bg-[#ffff] w-68 menu__container top-0 absolute left-12 shadow-lg"
    [ngClass]="{ 'menu__container--open': toogleMenu }">
    <div
      class="bg-primary h-12 w-full text-left text-base text-white font-medium flex flex-row justify-start items-end border-0 border-b-4 border-solid pl-2">
      <span>
        {{ subMenu | uppercase }}
      </span>
    </div>
    <div class="overflow-y-auto overflow-x-hidden max-h-[calc(100%-48px)]">
      @if (subMenu==='capas') {
      <app-capas class="h-full"></app-capas>
      } @if (subMenu==='leyenda') {
      <app-leyenda class="h-full"></app-leyenda>
      }
    </div>
  </div>
</div>
